[project]
name = "open-xtract-v2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pydantic>=2.12.5",
    "pydantic-ai-slim[google,logfire]>=1.37.0",
]
